* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}
body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    background: #1b0c43;
}
.container{
    width: 100%;
}
.bg{
    width: 100%;
    height: 100%;
    background: url(/include/pureyue/images/backgroud.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50%;
    position: absolute;
    z-index: -9;
}
.logo{
    width: 100px;
    padding-top: 30px;
    margin: 0 0 0 30px;
}
.title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.box{
    width: 280px;
    margin: 0 auto;
    max-height: 340px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #754486;
    padding: 7px 10px 1px;
    font-size: 14px;
}
.headimg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}
.box-title{
    width: 300px;
    margin: 0 auto;
}
.itme{
    width: 100px;
    height: 31px;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(/include/pureyue/images/rankbnt.png) no-repeat;
    background-size: 300px 62px;
}
.total{
    background-position: 0 0;
}
.month{
    background-position: -200px 0;
}
.week{
    background-position: -100px 0;
}
.selected1{
    background-color: #754486;
    background-position: 0 -31px;
}
.selected2{
    background-color: #754486;
    background-position: -200px -31px;
}
.selected3{
    background-color: #754486;
    background-position: -100px -31px;
}
.clearboth{
    clear: both;
}
.line{
    line-height: 25px;
    color: #fff;
    margin: 0 0 7px;
    background: #46338d;
    border-radius: 5px;
    padding: 3px 5px;
    position: relative;
    display: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.ml{
    margin-right: 8px;
}
.center{
    width: 150px;
    height: 25px;
    overflow: hidden;
    margin: 0 auto;
    text-overflow:ellipsis;
}
.overhide{
    width: 112px;
    height: 25px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pl{
    position: absolute;
    left: 5px;
}
.pr{
    position: absolute;
    right: 5px;
    top: 3px;
}
.orange{
    color: #ffe534;
    font-weight: bold;
}
.more{
    width: 100%;
    text-align: center;
    text-decoration:underline;
    color: #fff;
}
.returnindex{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#wrapper {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;/* this is important to prevent the whole page to bounce */
    max-height: 340px;
    padding: 0 10px 1px;
    background: #754486;
}
.blank {
    width: 300px;
    height: 10px;
    margin: 0 auto;
    background: #754486;
}

#thelist {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}


/**
 *
 * 下拉样式 Pull down styles
 *
 */
#pullDown, #pullUp {
    height:100%;
    line-height:30px;
    font-size:14px;
    color:#fff;
    text-align: center;
    margin-top: -5px;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:20px; height:20px;
    background:url(/include/pureyue/images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:20px 40px; background-size:20px 40px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}